<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="div1">

        <div class="div2">
            <div class="div3">
                <div class="entete">
                    <img src="./assets/img/user.png" alt="" style="width:113.18px;height:60.98px;">

                    <h1 class=" text-center "> Inscription</h1>
                    <h6>Enregistrer un utilisateur</h6>
                </div>
                <form >
                    <label for="Nom "></label>
                    <input type="text " name="Nom " formControlName="Nom " autocomplete="off " class="Nom " placeholder="Nom ">
                    <label for="Prenom "></label>
                    <input type="text " name="Prénom " formControlName="Nom " autocomplete="off " class="Prénom " placeholder="Prénom"><br>
                    <label for="Pseudo "></label>
                    <input type="text " name="Pseudo " formControlName="Pseudo " autocomplete="off " class="Pseudo " placeholder="Pseudo">
                    <label for="Adresse "></label>
                    <input type="text " name="Adresse " formControlName="Adresse " autocomplete="off " class="Adresse " placeholder="Adresse"><br>
                    <label for="email "></label>
                    <input type="Email " name="Email " formControlName="Email " autocomplete="off " class="Email" placeholder="Email "><br>
                    <label for="Téléphone "></label>
                    <input type="Téléphone " name="Téléphone " formControlName="Téléphone " autocomplete="off " class="Téléphone" placeholder="Téléphone "><br>
                </form>
                <h5>Selectionner un rôle</h5><br>

                <div class="select-style">
                    <select><option value="" selected  style="background-color:transparent;"></option>
                    <option value="Etudiant" style="text-align: center;" >Etudiant</option>
                    <option value="Formateur" style="text-align: center;">Formateur</option>
                    <option value="Finance" style="text-align: center;">Finance</option>
                    <option value="Admin"  style="text-align: center;">Admin</option>
                    </select>
                </div>
                <div class="validation">
                    <p>
                        <input type="submit" value="VALIDER" style="width:423.99px;height:44.19px;background-color: #667EEA;font-family: Roboto;font-style: normal;font-weight: 500;"> </p>
                </div>




            </div>
        </div>
    </div>

</body>

</html>
