.container {
    position: absolute;
    width: 1440px;
    height: 1095px;
    left: 8px;
    top: 17px;
    background: #FFFFFF;
}

.img-center {
    position: absolute;
    width: 154px;
    height: 83px;
    left: 651px;
    top: 335px;
}

.information {
    position: absolute;
    width: 133.78px;
    height: 28.71px;
    right: 500px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.5);
}

.information span {
    position: absolute;
    width: 367.41px;
    height: 28.71px;
    left: 883.8px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.5);
}

.card-header {
    position: absolute;
    width: 1162.13px;
    height: 68.36px;
    left: 151px;
    top: 239px;
    background: #667EEA;
    font-family: Roboto;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: inline;
    /* identical to box height */
    color: #FFFFFF;
}

.fond-bleu {
    position: absolute;
    width: 1198.07px;
    height: 808.05px;
    left: 141px;
    top: 224.95px;
    background: #667EEA;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.12);
}

.carte-etudiant {
    position: absolute;
    width: 1182.09px;
    height: 808.05px;
    left: 129px;
    top: 170px;
    background: #FFFFFF;
    box-shadow: 6px 0px 12px rgba(0, 0, 0, 0.12);
}

.container {
    position: absolute;
    width: 1440px;
    height: 1095px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
}

.btn {
    position: absolute;
    width: 209.66px;
    height: 68.63px;
    left: 1171.34px;
    top: 11px;
    background: #667EEA;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

table tr td {
    padding: 2; //Marge à l'intérieur des cellules, équivalent de cellpadding
}
