<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Fina</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <div class="container">

        <div class="fond-bleu">
        </div>
        <div class="carte-etudiant"></div>

        <div class="card-header">
            <div class="espace etudiant">
                <h1>Etudiant</h1>
            </div>
        </div>
        <div class="img-center">

            <img src="assets/etudiant2.jpg" alt="Admin" class="rounded-circle" width="150">
            <div class="information">
                <table>
                    <tr>
                        <td>Pseudo :</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                        <td>Fina</td>
                    </tr>
                    <br>
                    <tr>
                        <td>Nom :</td>
                        <td></td>
                        <td>Nafi</td>
                    </tr>
                    <br>
                    <tr>
                        <td>Prenom :</td>
                        <td> </td>
                        <td>NGOM</td>
                    </tr>
                    <br>
                    <tr>
                        <td>Email:</td>
                        <td> </td>
                        <td>nafiangom@gmail.com</td>
                    </tr>
                    <br>
                    <span><tr>
                        <td>Tel:</td>
                        <td> </td>
                        <td>77 684 88</td>
                    </tr>
                  </span>
                    <br>
                </table>

            </div>
        </div>


        <button class="btn">Se deconnecte</button>

    </div>
</body>

</html>
