.fond-bleu {
    height: 100%;
    width: 100%;
    position: absolute;
    background: #667EEA;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.12);
    top: 40px;
    left: 50px;
    border-radius: 24px;
}

.carte-etudiant {
    padding-right: 0px;
    .card {
        overflow: hidden;
        border-radius: 24px;
        border: none;
        box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
        .card-header {
            border: none;
        }
    }
}
