<div class="container py-5" style="height: 600px">
    <div class="row justify-content-center">
        <div class="col  col-8 col-sm-6 position-relative p-0 ">
            <div class="fond-bleu"></div>

            <div class="carte-etudiant">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-4">
                                <img src="assets/img/Bqidy.jpg" alt="Admin" class="rounded-circle w-100 h-100" />
                            </div>


                            <div class="col-8">
                                <h1>BAIDY SAO</h1>

                                <p> FORMATEUR , Developpeur web</p>
                            </div>



                        </div>
                    </div>
                    <div>
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Id
                                <span class="">123456</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Pseudo
                                <span class="">Fina</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Nom
                                <span class="">Nafi</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Prenom
                                <span class="">NGOM</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Email
                                <span class="">nafiangom@gmail.com</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Tel
                                <span class="">77 684 20 88</span>
                            </li>
                        </ul>


                    </div>
                </div>
            </div>

        </div>
